* {
    box-sizing: border-box;
}

body {
    background-color: #3999bf;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.smallfont {
    font-size: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

a:active {
    font-weight: bold;
    text-decoration: none;
}

a.clear:hover {
    font-weight: normal;
    text-decoration: none;
}

a.clear:active {
    font-weight: normal;
    text-decoration: none;
}

.header {
    border-radius: 4px 4px 0px 0px;
    background-color: #cce6f0;
    padding: 20px;
    text-align: left;
}

.topnav {
    overflow: hidden;
    background-color: #153846;
    border-radius: 0px 0px 4px 4px;
}

.topnav a {
    float: left;
    display: block;
    color: #cce6f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:last-child {
    border-right: none;
    float: right;
}

.topnav a:hover:not(.active) {
    background-color: #b3d9e8;
    color: #153846;
}

.active {
    background-color: #f8bf34;
    color: #153846;
}

.leftcolumn {
    float: left;
    width: 50%;
}

.rightcolumn {
    float: left;
    width: 50%;
    padding-left: 20px;
    background-color: #3999bf;
}

.card {
    border-radius: 4px;
    background-color: #cce6f0;
    padding: 20px;
    margin-top: 20px;
    color: #153846;
}

.card a {
    color: #153846
}

.card pre {
    border-radius: 12px !important;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #153846;
    color: #cce6f0;
}

.card code {
    border-radius: 8px !important;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #153846;
    color: #cce6f0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

div.withshadow:hover {
    box-shadow: 0 0 4px 4px #276882;
}

.footer {
    border-radius: 4px;
    background-color: #153846;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer p {
    color: #cce6f0;
}

.button {
    background-color: #153846;
    border: none;
    color: #cce6f0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 4px;
    border: 2px solid #153846;
}

.button:hover {
    background-color: #cce6f0;
    color: #153846;
    border: 2px solid #153846;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    border-radius: 4px;
}