body {
    background-color: #3999bf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.smallfont {
    font-size: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

a:active {
    font-weight: bold;
    text-decoration: none;
}

.header {
    background-color: #cce6f0;
    padding: 20px;
    text-align: left;
}

.topnav {
    overflow: hidden;
    background-color: #153846;
}

.topnav a {
    float: left;
    display: block;
    color: #cce6f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #cce6f0;
    color: 153846;
}

.card {
    background-color: #cce6f0;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #153846;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer p {
    color: #cce6f0;
}